* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
  background: hsl(201, 64%, 81%);
  box-sizing: border-box;
}
input {
  width: 30rem;
  height: 2rem;
  color: rgb(255, 17, 235);
  font-family: cursive;
  font-size: large;
  font-style: oblique;
  font-weight: bold;
  border: 2px solid rgb(38, 132, 233);
  outline: none;
  box-shadow: 1px 5px 10px rgb(32, 155, 22);
}
button {
  width: 100px;
  height: 56px;
  border: none;
  background: rgb(18, 102, 219);
  margin: 3px;
  color: #fff;
  cursor: pointer;
  border-radius: 0.5pc;
  box-shadow: 1px 5px 10px #000;
}
.far {
  font-size: 28px;
  padding: 10px;
}
.tooltip {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 32px;
  padding: 10px;
  border-radius: 10px;
  font-size: 22px;
  top: 5rem;
  right: 8.8rem;
  color: #fff;
  background: rgb(17, 102, 219);
  transition: 0.5s;
  box-shadow: 1px 5px 10px #000;
}
.tooltip::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  top: -8px;
  right: 50px;
  background: rgb(17, 102, 219);
  transform: rotate(45deg);
}
