body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 200px;
  flex-direction: column;
  background: url("https://global-uploads.webflow.com/5ef5480befd392489dacf544/5f9f5e5943de7e69a1339242_5f44a7398c0cdf460857e744_img-image.jpeg");
}

tr {
  padding: 10px;
}

.thead,
.table {
  width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

.thead {
  background: rgb(238, 234, 234);
}
.table td,
table {
  color: rgb(10, 10, 235);
  border-collapse: collapse;
  text-align: center;
  border: 2px solid rgb(231, 18, 231);
  border-spacing: 0px;
  /* box-shadow: 2px 4px rgb(14, 3, 2); */
}
.thead th {
  color: green;
}

.pagination {
  /* background: #af0; */
  padding: 10px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}
.previous {
  color: rgb(156, 107, 235);
  box-shadow: 1px 5px 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}
.num_button {
  border: none;
  cursor: pointer;
  border-radius: 3px;
  background: rgb(233, 10, 10);
  font-size: 20px;
  padding: 5 10px;
}

.previous:hover {
  color: black;
  background-color: wheat;
}
.num_button:hover {
  color: rgb(241, 13, 241);
  background-color: white;
}
::selection {
  color: sandybrown;
}
/* ::-moz-selection {
  color: rgb(255, 115, 0);
} */
